@font-face {
  font-family: BlackOpsOne;
  src: url("./fonts/BlackOpsOne-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

.App {
  background-color: #453797;
  height: 100vh;
  width: 100vw;
  font-family: Raleway;
  position: relative;
  overflow-x: hidden;

  .section {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      background-color: #453797;
      height: calc(50vw - 20vw);
      padding-top: 90px;
      position: relative;

      .info-box {
        &::before {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          top: -1px !important;
          left: -1px !important;
          z-index: 0;
          padding: 1px;
          border-radius: 31px;
          background: linear-gradient(178.6deg, #ffffff56 13.55%, rgba(0, 0, 0, 0.15) 83.77%);
          -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          user-select: none;
          pointer-events: none;
        }

        z-index: 5;
        position: absolute;
        top: calc(50% - 45px);
        left: 20%;
        border-radius: 30px;
        background-image: linear-gradient(142.21deg, rgba(27, 51, 81, 0.141) 6.61%, rgba(255, 92, 0, 0.3) 89%);
        transform: translate(-25%, -20%);
        box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.25);

        .title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 1.3vw;
          padding-top: 2vw;
          padding-bottom: 1.8vw;
          color: #A8A8A8;
          opacity: 0.4;
          text-align: center;
        }

        .items {
          padding-right: 1.6vw;

          .item {
            &::before {
              width: 100%;
              height: 100%;
              content: "";
              position: absolute;
              top: -1px !important;
              left: -1px !important;
              z-index: 1;
              padding: 1px;
              border-radius: 0px 21px 21px 0px;
              background: conic-gradient(from 180deg at 51.95% 49.81%, rgba(0, 0, 0, 0) -2.11deg, rgba(255, 149, 51, 0) 131.45deg, #37F4F4 175.58deg, rgba(51, 66, 255, 0) 252.32deg, rgba(0, 0, 0, 0) 310.85deg, rgba(0, 0, 0, 0) 357.89deg, rgba(255, 149, 51, 0) 491.45deg);
              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: xor;
              mask-composite: exclude;
            }

            z-index: 6;
            cursor: pointer;
            margin: 0.3vw 0px 0.3vw 0px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            background: linear-gradient(90.23deg, rgba(17, 16, 24, 0) 0.28%, rgba(17, 16, 24, 0.51) 129.42%);
            background-blend-mode: overlay;
            border-radius: 0px 20px 20px 0px;
            padding: 1vw 8vw 1vw 1vw;

            &:hover {
              .right {
                span {
                  color: #f49237ce !important;
                }
              }
            }

            .button {
              &::before {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                top: -1px !important;
                left: -1px !important;
                z-index: 0;
                padding: 1px;
                border-radius: 100%;
                background: linear-gradient(35.22deg, #FFFFFF 33.61%, rgba(255, 255, 255, 0.5) 89.19%);
                -webkit-mask:
                  linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                mask:
                  linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
              }

              position: relative;
              padding: 1vw;
              background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, rgba(255, 139, 2, 0.2) 0%, rgba(255, 168, 0, 0.2) 100%);
              backdrop-filter: blur(5px);
              border-radius: 100%;
              display: flex;
              align-items: center;
              text-align: center;
            }

            .right {
              padding: 0px 1.8vw 0px 1.8vw;
              display: flex;
              flex-direction: column;

              span {
                transition-duration: 0.3s;

                &:first-child {
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 1vw;
                  color: #AEADAD;
                }

                &:last-child {
                  margin-top: 8px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 0.8vw;
                  color: rgba(174, 173, 173, 0.6);
                }
              }
            }
          }
        }

        >.button {
          cursor: pointer;
          border: 3px solid #C0C0C0;
          border-radius: 12px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 1.3vw;
          text-align: center;
          color: #FFFFFF;
          width: fit-content;
          padding: 2px 15px;
          margin: auto;
          margin-top: 1.9vw;
          margin-bottom: 1.9vw;
        }
      }
    }

    &:nth-child(3) {
      z-index: 3;

      .curve-area {
        background-color: #F5F6F7;

        &:nth-child(1) {
          width: 500vw;
          height: 30vw;
          border-radius: 100% 0 0 0;
        }

        &:nth-child(2) {
          position: relative;
          width: 100vw;
          height: 24vw;

          img {
            position: absolute;
            width: 82vw;
            top: -22vw;
            left: -18vw;
          }

          .text-box {
            // background-color: #37F4F4;
            width: 50%;
            // height: 200px;
            padding-left: 2vw;
            position: absolute;
            right: 0px;
            top: -10vw;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            >span {
              &:first-child {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 1vw;
                line-height: 13px;
                letter-spacing: 0.25em;
                color: #4B3E9A;
              }

              &:nth-child(2) {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 2.5vw;
                line-height: 130%;
                color: #000000;
                width: 65%;
                margin-top: 12px;
              }
            }

            .items {
              margin-top: 2vw;

              .item {
                display: flex;
                padding: 12px 0px 12px 0px;

                .left {
                  font-family: 'Roboto';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 2.5vw;
                  color: #0000008f;
                  width: 60%;
                  width: fit-content;
                }

                .right {
                  display: flex;
                  flex-direction: column;
                  margin-left: 0.4vw;

                  span {
                    &:first-child {
                      font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 500;
                      font-size: 1.5vw;
                      line-height: 21px;
                      color: #000000;
                      padding-top: 0.7vw;
                    }

                    &:last-child {
                      font-family: 'Roboto';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 0.9vw;
                      line-height: 160%;
                      color: #666666;
                      width: 28vw;
                      padding-top: 0.4vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:nth-child(4) {
      background-color: white;
      width: 100vw;

      .curve-area {
        width: 100vw;
        height: 10vw;
        border-bottom-right-radius: 10vw;
        background-color: #F5F6F7;
        box-shadow: 5px 1px 1px 2px rgba(0, 0, 0, 0.096);
      }

      .box-line {
        padding: 60px;
        width: 100vw;
        box-sizing: border-box;
        // height: 200px;
        // background-color: #37F4F4;
        display: flex;
        gap: 40px;
        box-sizing: border-box;
        justify-content: center;

        .box {
          padding: 50px 10px;
          background: #FFFFFF;
          width: fit-content;
          display: flex;
          flex-direction: column;
          cursor: pointer;

          &:hover {
            box-shadow: 5.01742px 20.0697px 40.1394px rgba(0, 0, 0, 0.07);
          }

          svg {
            margin-left: 20px;
          }

          span {
            &:first-of-type {
              margin-top: 25px;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 1.5vw;
              line-height: 28px;
              text-align: center;
              color: #FB724C;
              text-align: left;
            }

            &:last-of-type {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 0.9vw;
              line-height: 160%;
              color: #888888;
              padding: 24px 10px 0px 10px;
            }
          }
        }
      }
    }

    &:nth-child(5) {
      width: 100%;
      background-color: white;

      .row {
        padding: 60px 37px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .left {
          width: 50%;
          // background-color: #37F4F4;
          padding: 0px 30px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .box {
            background: #FFFFFF;
            box-shadow: 2.59831px 8.66104px 25.9831px rgba(0, 0, 0, 0.07);
            // height: 10px;
            padding: 11px 18px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:first-child {
              padding: 0px;
              flex-direction: column;

              .top {
                background: #0061FF;
                padding: 12px 18px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 1vw;
                line-height: 130%;
                color: #FFFFFF;
                width: 100%;
                box-sizing: border-box;
              }

              .bottom {
                padding: 15px 20px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 0.9vw;
                line-height: 160%;
                color: #888888;
              }
            }

            span {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 15.5899px;
              line-height: 130%;
              color: #333333;
            }
          }
        }

        .right {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    &:nth-child(6) {
      background-color: white;
      width: 100vw;
      padding: 0px 30px 60px 30px;

      .item-line {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        padding-top: 20px;

        .item {
          display: flex;
          flex-direction: column;
          text-align: center;

          svg {
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          span {
            &:first-of-type {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 2.5vw;
              line-height: 130%;
              color: #CCCCCC;
            }

            &:nth-of-type(2) {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 1.5vw;
              line-height: 28px;
              text-align: center;
              color: #000000;
            }

            &:nth-of-type(3) {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 0.9vw;
              line-height: 160%;
              text-align: center;
              color: #666666;
              max-width: 300px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    &:nth-child(7) {
      background-color: white;

      .month-year-button {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 7px;

        .button-box {
          display: flex;
          flex-direction: row;
          background: #FFFFFF;
          box-shadow: 0px 10px 15px rgba(24, 59, 86, 0.2);
          border-radius: 27px;
          padding: 12px 17px;
          align-items: center;
          gap: 3px;

          .button {
            border-radius: 16px;
            flex: none;
            order: 0;
            flex-grow: 0;
            padding: 4px 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #627065;
            cursor: pointer;

            &:first-child {
              background: #FB724C;
              color: #FFFFFF;
            }
          }
        }

        svg {
          position: absolute;
          top: 40px;
          left: 205px;
        }

        span {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          text-align: right;
          color: #7732BB;
          margin-left: 40px;
        }
      }

      .card-line {
        padding: 45px 60px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;

        .card {
          // width: 276.54px;
          // height: 445.45px;
          width: fit-content;
          background-color: #ffffff;
          padding: 25px 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          text-align: center;
          border: 1.08276px solid #EEEEEE;

          &:hover {
            box-shadow: 3.60919px 14.4368px 28.8735px rgba(0, 0, 0, 0.07);
          }

          >span {
            &:nth-of-type(1) {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 28.8735px;
              line-height: 160%;
              color: #000000;
            }

            &:nth-of-type(2) {
              margin: auto;
              display: flex;
              flex-direction: row;

              span {
                &:nth-child(1) {
                  font-family: 'Roboto';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 11.5494px;
                  color: #0061FF;
                  padding-top: 5px;
                }

                &:nth-child(2) {
                  font-family: 'Roboto';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 28.8735px;
                  color: #0061FF;
                }

                &:nth-child(3) {
                  font-family: 'Roboto';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 0.9vw;
                  color: #000000;
                  padding-top: 15px;
                }
              }
            }

            &:nth-of-type(3) {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 0.9vw;
              line-height: 160%;
              text-align: center;
              color: #AAAAAA;
              padding: 0px 18px;
              padding-top: 15px;
            }
          }

          .items {
            padding: 0px 15px;
            display: flex;
            flex-direction: column;

            .item {
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              span {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 1vw;
                line-height: 330%;
                color: #666666;
              }
            }
          }

          .button {
            border: 1px solid #FB724C;
            filter: drop-shadow(1.44368px 2.88735px 7.21838px rgba(251, 114, 76, 0.31));
            border-radius: 28.8735px;
            width: fit-content;
            padding: 3px 30px;
            font-family: 'Roboto';

            font-style: normal;
            font-weight: 700;
            font-size: 10.1057px;
            line-height: 330%;
            text-align: center;
            color: #FB724C;
            margin: auto;
          }

        }
      }
    }

    .sub-title {
      margin-top: 3vw;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 1vw;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #4B3E9A;
    }

    .title {
      margin-top: 1.5vw;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 2.5vw;
      line-height: 47px;
      text-align: center;
      color: #000000;
    }
  }

  .background-image {
    position: absolute;
    top: 90px;
    left: 50%;

    .blur {
      position: absolute;
      top: 90px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      filter: blur(200px);
      z-index: 0;
    }

    img {
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
}

.Header {
  position: fixed;
  top: 0px;
  z-index: 10;
  // background-color: #453797;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 28px;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #B8B8B8;
    cursor: pointer;

    &:first-of-type {
      font-style: italic;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #E19F1F;
    }

    &:nth-of-type(3) {
      font-family: BlackOpsOne;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 62px;
      color: #C2BABA;
    }
  }

  .right {
    display: flex;
    align-items: center;

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #B8B8B8;
    }

    div {
      align-items: center;
      display: flex;
      cursor: pointer;

      &:first-child {
        margin-right: 20px;
      }

      span {
        margin: 10px;
      }
    }
  }
}